<div class="container-fluid background">
  <div class="my-container">
    <div class="row">
      <div class="col-sm-6 mb-3 mb-sm-0 centralized-card">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">Login</h5>
            <div class="input-group mb-3">
              <div class="input-container">
                <input type="text " class="form-control" placeholder="Usuário" aria-label="Usuário">
                <input type="text" class="form-control mt-2" placeholder="Senha" aria-label="Senha">
              </div>
            </div>
            <div class="input-container">
              <a href="#" class="btn btn-primary centralized-btn">Entrar</a>
              <button type="button" class="btn btn-link" routerLink="/register">Registro</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
