<div class="container-fluid background">
  <div class="my-container">
    <div class="row">
      <div class="col-sm-6 mb-3 mb-sm-0 centralized-card">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-center">Registro</h5>
            <div class="input-group mb-3">
              <div class="input-container">
                <input type="text " class="form-control" placeholder="Nome" aria-label="Nome">
                <input type="text" class="form-control mt-2" placeholder="Email" aria-label="Email">
                <input type="text " class="form-control mt-2" placeholder="CEP" aria-label="CEP">
                <input type="text" class="form-control mt-2" placeholder="CPF" aria-label="CPF">
                <input type="text " class="form-control mt-2" placeholder="Senha" aria-label="Senha">
              </div>
            </div>
            <div class="input-container">
              <a href="#" class="btn btn-primary centralized-btn">Cadastrar</a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
