<div class="container-fluid background">
  <div class="my-container">
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img class="img-logo" src="https://png.pngtree.com/png-vector/20191030/ourlarge/pngtree-business-business-team-hierarchy-management-icon-for-web-png-image_1927637.jpg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
          Bootstrap
        </a>
      </div>
    </nav>
  </div>
</div>
